/*
Helper classes to take care of the basic margin padding stuff
*/

.padding-left-1 {
  padding-left: 15px;
}

.padding-left-2 {
    padding-left: 30px;
}

.padding-right-2 {
    padding-right: 30px;
}

.padding-top-1 {
    padding-top: 15px;
}

.padding-top-2 {
    padding-top: 30px;
}

.padding-top-3 {
    padding-top: 45px;
}

body {
    background: url(../images/cars.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    color: #fff;
    font-family: 'Open Sans', sans-serif;
}

a {
    color: #fff;
}

a:hover {
    color: #e5e5e5;
}

.width-400 {
    width: 400px !important;
}

.btn-flat {
    border-radius: 0;
}

.btn-fb {
    background-color: #3A589B;
    color: #fff;
}
.btn-fb:hover {
    background-color: #2d2f5f;
    color: #fff;
}

.btn-twitter {
    background-color: #32CCFE;
}

.btn-twitter:hover {
    background-color: #1e94b2;
    color: #fff;
}